{% extends "stocks/base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid home-page">
    <div class="row">
        <div class="col category info-main-page">
            {% if user.is_authenticated %}
                <h3 class="motto">Personal Investing Web Portal. Join Today.</h3>
            {% else %}
                <h3 class="motto">Personal Investing Web Portal. Join Today.</h3>
                <a role="button" class="btn btn-warning btn-lg major-sign-up" href="{% url 'register' %}">Sign-up</a>
            {% endif %}
        </div>
        <div class="col">
            <img src="{% static 'stocks/iphone.png' %}" class="img-responsive iphone-img">
        </div>

    </div>
</div>
{% endblock %}